@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f7f9fd;
    --foreground: #181c1f;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  min-height: 100vh;
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f2f4f8;
}

::-webkit-scrollbar-thumb {
  background: #c6c6ce;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #76767e;
}
